<%- include("partials/header") -%>

<h3>Connection status</h3>
<br>
<h4><%= connectionMessage %></h4>

<hr>
<h3>Topic</h3>
<br>
<h6>Field: <%= field %></h6>
<h6>Plot: <%= plot %></h6>
<h6>Sensor: <%= sensor %></h6>
<hr>

<h3>Subsribe</h3>
<br>
<h4><%= subscriptionMessage %></h4>

<hr>

<h3>Publish</h3>
<br>
<h4><%= publishMessage %></h4>

<hr>

<h3>Packet Message</h3>
<br>
<h4><%= packetMessage %></h4>


<%- include("partials/footer") -%>
