<%- include("partials/header") -%>

<h1>Connection status</h1>
<br>
<h4><%= connectionMessage %></h4>

<hr>

<h1>Subsribe</h1>
<br>
<h4><%= subscriptionMessage %></h4>

<hr>

<h1>Publish</h1>
<br>
<h4><%= publishMessage %></h4>

<hr>

<h1>Packet Message</h1>
<br>
<h4><%= packetMessage %></h4>


<%- include("partials/footer") -%>
